<table class="table">
  <thead>
  <tr>
    <th>
      ID
    </th>
    <th>
      Address
    </th>
    <th>
      Status
    </th>
    <th>
      Value
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor= "let station of stations" [@flyIn] = "'in'">
    <td>
      <a href="./stations/{{station?.id}}">{{station?.id}}</a>
    </td>
    <td>
      {{station?.address}}
    </td>
    <td>
      {{station?.status}}
    </td>
    <td>
      {{station?.value}}
    </td>
  </tr>
  </tbody>

  <button onclick="window.location.href='stations/addstation'">Add Station</button>

</table>
